<h1>My Cart</h1>

<% if @cart.items.any? %>
  <%= form_for @cart, url: cart_update_path do |f| %>
    <ul>
      <%= f.fields_for :items do |i| %>
        <%= i.hidden_field :id %>
        <li> 
          <%= i.object.product.name %>: <%= i.text_field :quantity %>
          <label><%= i.check_box :_destroy %> remove product</label>
        </li>
      <% end %>
    </ul>
    <%= f.submit "Update and continue buying" %>
  <% end %>
<% else %>
  No items in your cart.
<% end %>
